* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
  background-color: black;
}

img {
  padding: 0px;
  max-width: 100%;
  height: auto; 
}

h1, h2 {
  padding: 0px;
  margin: 0px;
  /*
  vertical-align: center;
  */
}

.grid {
	display: grid;
  grid-template-areas:    
    "header"
    "preview"
    "iphone-img1"
    "iphone-img2"
    "iphone-img3"
    "iphone-img4"
    "ipad-img1"
    "ipad-img2"
    "ipad-img3"
    "ipad-img4"
    "footer";
  grid-gap: 1vmin;
  /*
  max-width: 970px;
  */
  max-height: 2000px;
  margin: auto;
  align-items: center;
}

.preview {
  grid-area: preview;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.preview iframe {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-area: header;
  max-height: 650px;
  max-width: 970px;
}

.header-preview {
  align-self: center;
  display: none;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.header-preview iframe {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%
}

.appstorelink {
  grid-column-start: 2;
  grid-row-start: 4;
}

.title {
  text-align: center;
  align-self: center;
  max-height: 180px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #FFD700;
  font-size: 3.5vw;
   z-index: 1; 
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.linkedinlink {
  grid-column-start: 3;
  grid-row-start: 4;
  justify-self: end;
}

.description {
  align-self: end;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 3.5vw;
  z-index: 1;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  color: #FFD700;
}

.header-image {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.footer {
  background-color: black;
  min-height: 50px;
}

.iphone-img1 { grid-area: iphone-img1; }

.iphone-img2 {
  grid-area: iphone-img2;
}

.iphone-img3 {
  grid-area: iphone-img3;
}

.iphone-img4 {
  grid-area: iphone-img4;
}

.ipad-img1 {
  grid-area: ipad-img1;
}

.ipad-img2 {
  grid-area: ipad-img2;
}

.ipad-img3 {
  grid-area: ipad-img3;
}

.ipad-img4 {
  grid-area: ipad-img4;
}

.footer {
  grid-area: footer;
}

@media(min-width: 420px) {

.preview {
  display: none;
}

.description {
  grid-row-start: 4;
  align-self: start;
}

.header-preview {
  display: block;
}

.appstorelink {
  align-self: center;
}

.linkedinlink {
  align-self: center;
}

.grid {
    display: grid;
		grid-template-columns: 1fr 1fr;
     grid-template-areas:
      "header      header"
      "iphone-img1 iphone-img2"
      "iphone-img3 iphone-img4"
      "ipad-img1   ipad-img2"
      "ipad-img3   ipad-img4"
      "footer      footer";
  
  }


}


@media(min-width: 970px) {
	.grid {
  width: 970px;
	}

  .title h1 {
    font-size: 70px;
  }

  .description h2 {
    font-size: 60px;
  }
}


